@import "tailwindcss";

:root {
    --font-sans: "Nunito Sans", sans-serif;
    --font-mono: "Nunito", sans-serif;

    --background: #F6F5F1;
    --foreground: hsl(170, 45%, 16%);
    --foreground-foreground: hsl(0, 0%, 100%);
    --foreground-hover: hsl(170, 45%, 8%);
    --foreground-border: hsl(170, 45%, 4%);
    --foreground-muted: hsla(170, 45%, 16%, 10%);
    --primary: hsl(21, 99%, 71%);
    --primary-foreground: hsl(0, 0%, 100%);
    --primary-hover: hsl(21, 99%, 63%);
    --primary-border: hsl(21, 99%, 59%);
    --primary-muted: hsla(21, 99%, 71%, 10%);
    --border: hsl(150, 11%, 89%);

    --container-lg: 90rem;
    --container-md: 80rem;
    --container-sm: 48rem;
    --rounded-lg: 1rem;
    --rounded-md: 0.625rem;
    --rounded-sm: 0.25rem;
}

@theme inline {
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-foreground-foreground: var(--foreground-foreground);
    --color-foreground-hover: var(--foreground-hover);
    --color-foreground-border: var(--foreground-border);
    --color-foreground-muted: var(--foreground-muted);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-hover: var(--primary-hover);
    --color-primary-border: var(--primary-border);
    --color-primary-muted: var(--primary-muted);
    --color-border: var(--border);

    --spacing-container-lg: var(--container-lg);
    --spacing-container-md: var(--container-md);
    --spacing-container-sm: var(--container-sm);
}

@layer base {
    * {
        @apply border-border;
    }

    h1 {
        @apply text-6xl font-bold mb-4;
    }

    h2 {
        @apply text-5xl font-bold mb-3;
    }

    h3 {
        @apply text-[2rem] font-bold mb-2;
    }

    a, button {
        @apply cursor-pointer;
    }

    .container-md {
        @apply max-w-container-md text-center mx-auto px-4 md:px-0;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}